
<div class="about-area-two bg-color ptb-100">
    <div class="container">
        <div class="row align-items-center">
              <div class="col-lg-6">
                <div class="about-text">
                    <div class="section-title-two">
                        <span>درباره ما</span>
                        <h2>ما ایده ها و روش های هوشمند را برای ارائه راه حل ها ادغام می کنیم</h2>
                        <p>لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است.</p>
                    </div>
                    <div class="choose-card">
                        <i class="flaticon-key-to-success"></i>
                        <h3>توجه به جزئیات و برنامه ای برای موفقیت</h3>
                        <p>شما نتیجه می خواهید. ما دریافته ایم که بهترین روش برای دستیابی به آنها تحقیق مقدماتی است - در مورد شرکت ، رقبا ، هدف شما</p>
                    </div>
                  
                    <div class="choose-card">
                        <i class="flaticon-data-scientist"></i>
                        <h3>ما خلاق ، متخصص و قیمت گذاری انعطاف پذیر خود هستیم</h3>
                        <p>شما نتیجه می خواهید. ما دریافته ایم که بهترین روش برای دستیابی به آنها تحقیق مقدماتی است - در مورد شرکت ، رقبا ، هدف شما</p>
                    </div>
                    <div class="about-btn">
                        <a href="#" class="default-btn">ادامه خواندن <span></span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-img">
                    <div class="img-1">
                        <img src="assets/img/AgileDevelopment.png" alt="Image">
                    </div>

                </div>
            </div>
          
        </div>
    </div>
</div>
<div class="choose-area pt-100 pb-70">
    <div class="container">
        <div class="choose-content pb-100">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="choose-text">
                        <div class="section-title-two">
                            <span>چرا ما را انتخاب کنید</span>
                            <h2>ما سخت کوش هستیم و نیازهای مشتری را با اطمینان از کیفیت برآورده می کنیم</h2>
                            <p>شما نتیجه می خواهید. ما دریافته ایم که بهترین روش برای دستیابی به آنها تحقیق مقدماتی است - در مورد شرکت ، رقبا ، بازار هدف و مشتری شما فقط پس از شناخت کامل شما و مشتریان شما.</p>
                        </div>
                        <div class="choose-card">
                            <i class="flaticon-key-to-success"></i>
                            <h3>توجه به جزئیات و برنامه ای برای موفقیت</h3>
                            <p>شما نتیجه می خواهید. ما دریافته ایم که بهترین روش برای دستیابی به آنها تحقیق مقدماتی است - در مورد شرکت ، رقبا ، هدف شما</p>
                        </div>
                        <div class="choose-card">
                            <i class="flaticon-data-scientist"></i>
                            <h3>ما خلاق ، متخصص و قیمت گذاری انعطاف پذیر هستیم</h3>
                            <p>لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم ایپسوم ساختار چاپ و متن را در بر می گیرد.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="choose-img">
                        <img src="assets/img/Dashboard.png" alt="Image">

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>