<script src="~/_Content/AdminThemes/vendors/js/vendor.bundle.base.js"></script>
  <script src="~/_Content/AdminThemes/vendors/js/vendor.bundle.addons.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="~/_Content/AdminThemes/js/off-canvas.js"></script>
  <script src="~/_Content/AdminThemes/js/hoverable-collapse.js"></script>
  <script src="~/_Content/AdminThemes/js/misc.js"></script>
  <script src="~/_Content/AdminThemes/js/settings.js"></script>
  <script src="~/_Content/AdminThemes/js/todolist.js"></script>
@*<script src="~/_Content/AdminThemes/js/alerts.js"></script>
<script src="~/_Content/AdminThemes/js/avgrund.js"></script>
<div class="avgrund-overlay "></div>*@
  <!-- endinject -->
  <!-- Custom js for this page-->
@*  <script src="js/dashboard.js"></script>
  <script src="vendors/chosen/chosen.jquery.min.js"></script>
  <script src="vendors/moment/min/moment.min.js"></script>
  <script src="js/persian-date-0.1.8.min.js"></script>
  <script src="js/persian-datepicker-0.4.5.min.js"></script>*@
  <!-- End custom js for this page-->

@*  <script>
    jQuery(document).ready(function () {
      jQuery("#taghvim").persianDatepicker({
        altFormat: "X",
        format: "D MMMM YYYY",
        observer: true
      });
    });
  </script>*@
