
<footer class="footer fixed-bottom">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">کپی رایت © 2018 . تمام حقوق
              محفوظ است.</span>
          </div>
           <div id="settings-trigger"><i class="fas fa-fill-drip"></i></div>
        </footer>